<h1 style="text-align:center;">This page is for approved wholesale customers only.</h1>
<p style="text-align:center;">
{% unless customer %}
<a href="/account/login"><span style="color: #ff0000;">Log in</span> to your account</a>, or 
{% endunless %}
<a href="/pages/contact"><span style="color: #ff0000;">Contact us</span></a> to request a wholesale account.
</p>